# Domain Configurations for Cloudflare Tunnel and Ingress
ROOT_DOMAIN=example.com
DASHBOARD_DOMAIN=dashboard.example.com
API_DOMAIN=api.example.com
GRAFANA_DOMAIN=grafana.example.com
MQTT_DOMAIN=mqtt.example.com
