PLATFORM_NAMESPACE=robot-platform

FRONTEND_IMAGE=
GATEWAY_IMAGE=ghcr.io/thathsarabandara/05-grabber-api-gateway:latest
AUTH_IMAGE=ghcr.io/thathsarabandara/06-grabber-auth-service:latest
ROBOT_IMAGE=ghcr.io/thathsarabandara/07-grabber-robot-service:latest
TELEMETRY_IMAGE=ghcr.io/thathsarabandara/08-grabber-telemetry-service:latest
AI_IMAGE=ghcr.io/thathsarabandara/09-grabber-ai-service:latest

FRONTEND_TAG=latest
GATEWAY_TAG=latest
AUTH_TAG=latest
ROBOT_TAG=latest
TELEMETRY_TAG=latest
AI_TAG=latest

FRONTEND_REPLICAS=1
GATEWAY_REPLICAS=1
AUTH_REPLICAS=1
ROBOT_REPLICAS=1
TELEMETRY_REPLICAS=1
AI_REPLICAS=1

FRONTEND_PORT=80
GATEWAY_PORT=8000
AUTH_PORT=8001
ROBOT_PORT=8002
TELEMETRY_PORT=8003
AI_PORT=8004

MYSQL_PORT=3306
REDIS_PORT=6379
MQTT_PORT=1883
MQTT_WEBSOCKET_PORT=9001

MYSQL_GATEWAY_DATABASE=gateway_db
MYSQL_AUTH_DATABASE=auth_db
MYSQL_ROBOT_DATABASE=robot_db
MYSQL_TELEMETRY_DATABASE=telemetry_db
MYSQL_AI_DATABASE=ai_db

MYSQL_STORAGE_SIZE=7Gi
REDIS_STORAGE_SIZE=2Gi
MQTT_STORAGE_SIZE=2Gi
AI_MODEL_STORAGE_SIZE=3Gi
BACKUP_STORAGE_SIZE=7Gi
PROMETHEUS_STORAGE_SIZE=7Gi
GRAFANA_STORAGE_SIZE=2Gi
