PLATFORM_ROOT=/opt/grabber-platform

FRONTEND_REPO=https://github.com/thathsarabandara/04-grabber-web-dashboard.git
GATEWAY_REPO=https://github.com/thathsarabandara/05-grabber-api-gateway.git
AUTH_REPO=https://github.com/thathsarabandara/06-grabber-auth-service.git
ROBOT_REPO=https://github.com/thathsarabandara/07-grabber-robot-service.git
TELEMETRY_REPO=https://github.com/thathsarabandara/08-grabber-telemetry-service.git
AI_REPO=https://github.com/thathsarabandara/09-grabber-ai-service.git

FRONTEND_BRANCH=main
GATEWAY_BRANCH=main
AUTH_BRANCH=main
ROBOT_BRANCH=main
TELEMETRY_BRANCH=main
AI_BRANCH=main
